body {
    height: 100%;
    margin: 0;
}

.content {
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.user-logged {
    position: relative;
}

.bx-log-out-circle {
    color: crimson;
    margin-left: 5px;
}

.bx-user-circle {
    font-size: 24px;
    position: absolute;
    transform: translateX(10px);
    top: -20%;
    left: -40px;
    color: green;
}

.user-loged {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content > p {
    letter-spacing: 3px;
    font-size: 13px;
}

.form-content {
    margin-top: 15px;
}

.operation {
    font-family: 'Raleway', sans-serif;
    text-indent: 8px;
    margin: 10px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid rgb(162, 160, 160);
    outline: none;
}

.type-op {
    font-family: 'Raleway', sans-serif; 
    font-size: 12px;
    margin-right: 4px;
}

.container-type {
    text-align: center;
}

.date {
    text-indent: 5px; 
    background-color: white;
    font-family: 'Raleway', sans-serif;
    text-indent: 5px;
    margin: 10px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid rgb(162, 160, 160);
    outline: none;
}

.select-op {
    height: 30px;
    border-radius: 100px;
    border: 1px solid rgb(162, 160, 160);
    outline: none;
    font-family: 'Raleway', sans-serif; 
    text-indent: 8px;
    width: 80px;
    background-color: white;
}

.add-operation {
    margin: 15px;
    width: 150px;
    height: 35px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px; 
    border-radius: 100px;
    border: 1px solid rgb(162, 160, 160);
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    cursor: pointer;
}

.container-add {
    display: flex;
    justify-content: center;
}

.add-operation:active {
    transform: translateY(4px);
}

table {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 50px;
}

table > th {
    font-weight: 100;
}

th, td {
    border: 1px solid rgb(162, 160, 160);
    padding: 10px;
}
   
@media (min-width: 942px) {
    .container-input {
        display: flex;
        justify-content: center
    }

    .container-type {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    table {
        width: 100%;
    }

    th, td {
        padding: 10px;
    }
}

@media (max-width: 941px) {
    .form-op {
        width: 70%;
    }
    
    .container-input {
        display: flex;
        flex-direction: column;
    }

    .form-content {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .container-date {
        display: flex;
        justify-content: center;
    }

    .date {
        width: 100%;
    }

    .add-operation {
        width: 200px;
        text-align: center;
    }

}