body {
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.container-form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
    width: 80%;
    text-align: center;
}

.login {
    font-weight: 100;
    font-size: 35px;
}

.register-link {
    font-size: 10px;
}

.register-link > a {
    text-decoration: none;
}

.btn-login {
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    border: none;
    border-radius: 100px;
    border: 1px solid rgb(162, 160, 160);
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    width: 100px;
    height: 25px;
    cursor: pointer;
}

.btn-login:active {
    transform: translateY(4px);
}


@media (min-width: 942px) {
    .form-login {
        width: 35%;
        text-align: center;
    }
}

@media (min-width:600px) and (max-width: 941px) {
    .form-login {
        width: 50%;
    }
}