body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
}

.inf-input {
    font-family: 'Raleway', sans-serif;
    text-indent: 10px;
    width: 80%;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid rgb(162, 160, 160);
    outline: none;
}

.errors {
    font-size: 11px;
    color: red;
}