<%- include('./partials/head'); %>
<body>
    <section class="container-error">
        <section class="content-error">
            <h1>404</h1>
            <i class='bx bx-sad' ></i>
            <h2>PAGE NOT FOUND</h2>
            <a href="/" class="go-home">HOME</a>
        </section>    
    </section>  
</body>
</html>