<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/main.css">
    <title>Personal Budget</title>
</head>
<body>

    <section class="container-error">
        <section class="content-error">
            <h1>404</h1>
            <i class='bx bx-sad' ></i>
            <h2>PAGE NOT FOUND</h2>
            <a href="/" class="go-home">HOME</a>
        </section>    
    </section>  
</body>
</html>